<% provide :title, t("static_pages.home.about") %>
<h1><%= t("static_pages.home.about")%></h1>
<p>
  <%= t("about.the") %> <%= link_to t("static_pages.home.name"), Settings.client.newRailsTutorial %> 
  <%= t("about.isa") %>
  <%= link_to t("about.book"), Settings.client.newRailsTutorial %>
</p>
