<% provide :title, t("static_pages.home.help") %>
<h1><%= t "static_pages.home.help" %></h1>
<p>
  <%= t "help.content" %>
  <%= link_to t("help.rails_help"), Settings.client.new_rails_tutorial %>
  <%= t "help.content_foot" %>
  <%= link_to t("help.name_tutorial"), Settings.client.new_rails_tutorial %>
</p>
