<% provide :title, t("static_pages.home.help") %>
<h1><%= t "static_pages.home.help" %></h1>
<p>
  <%= t "help.content" %>
  <%= link_to t("help.nameR"), Settings.client.newRailsTutorial %>
  <%= t "help.contentF" %>
  <%= link_to t("help.nameT"), Settings.client.newRailsTutorial %>
</p>
