<h1><%= t "mail.passwordReset" %></h1>

<p><%= t "mail.head" %></p>

<%= link_to t("mail.passwordReset"), edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p><%= t "mail.contentP" %></p>

<p>
  <%= t "mail.foot" %>
</p>
