<footer class="footer">
  <small>
    <%= t "footer.the" %> <%= link_to t("footer.news"), Settings.client.new_rails_tutorial %> 
    <%= t "footer.name_tutorial" %>
    <%= t "footer.by" %> <%= link_to t("footer.news"), Settings.client.new_rails_tutorial %> 
    <%= t "footer.mi" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("footer.about"), about_path %></li>
      <li><%= link_to t("footer.contact"), contact_path %></li>
      <li><%= link_to t("footer.news"), Settings.client.new_rails_tutorial %></li>
    </ul>
  </nav>
</footer>
