<footer class="footer">
  <small>
    <%= t "footer.the" %> <%= link_to t("footer.news"), Settings.client.newRailsTutorial %> 
    <%= t "footer.nameT" %>
    <%= t "footer.by" %> <%= link_to t("footer.news"), Settings.client.newRailsTutorial %> 
    <%= t "footer.mi" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("footer.about"), about_path %></li>
      <li><%= link_to t("footer.contact"), contact_path %></li>
      <li><%= link_to t("footer.news"), Settings.client.newRailsTutorial %></li>
    </ul>
  </nav>
</footer>
